[submodule "Trudgill_et_al_202X/Dependencies/BuCC"]
	path = Trudgill_et_al_202X/Code/Dependencies/BuCC
	url = https://github.com/St-Andrews-Isotope-Geochemistry/BuCC
[submodule "Trudgill_et_al_202X/Dependencies/CO2_Systematics"]
	path = Trudgill_et_al_202X/Code/Dependencies/CO2_Systematics
	url = https://github.com/St-Andrews-Isotope-Geochemistry/CO2_Systematics
	branch = script
[submodule "Trudgill_et_al_202X/Code/Dependencies/Geochemistry_Helpers"]
	path = Trudgill_et_al_202X/Code/Dependencies/Geochemistry_Helpers
	url = https://github.com/St-Andrews-Isotope-Geochemistry/Geochemistry_Helpers
